html,
body {
 scroll-behavior: smooth;
 transition: all .3s ease-in-out;
}

.expand-wrapper {
 height: auto;
 position: relative;
}

.child-ul {
 max-height: 0;
 overflow: hidden;
 transition: all 0.4s ease;
}


.project-li:hover .child-ul {
 max-height: 800px; /* only inner content grows */
}
.child-li img {
 height: 200px;
 transition: all 0.3s ease;
}

.hello {
 @apply hover:bg-amber-300;
}
.before::before {
 content: "";
 position: absolute;
 width: 100%;
 height: 100%;
 background: #000;
 inset: 0;
 transition: all 0.2s ease-in-out;
 border-radius: 6px;
}
.before {
 overflow: hidden;
}
.before:hover::before {
 transform: translateY(-100%);
}

.reveal {
 opacity: 0;
 transform: translateY(30px) scale(0.9);
 filter: blur(6px);
 transition:
  opacity 0.6s ease,
  transform 0.7s cubic-bezier(0.22, 1, 0.36, 1),
  filter 0.6s ease;
}

.reveal.show {
 opacity: 1;
 transform: translateY(0) scale(1);
 filter: blur(0);
}

.html-shape {
 border-radius: 20px;
 corner-shape: bevel;
}
.home_bg {
  background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(137, 136, 138, 1) 34%, rgba(103, 121, 143, 1) 100%);
}
.angled-element {
  /* 45-degree angle gradient */
  background-image: linear-gradient(65deg, while,grey);
  transition: all .3s ease-in-out;
}