:root {
  --max-width: 1200px;
}
body {
  overflow: scroll;
}
.body {
  overflow-y: scroll;
}
nav {
  height: 70px;
  position: fixed;
  /* display: flex; */
}

ul {
  transition: left 0.3s;
}
ul li a {
  border: 2px solid transparent;
  transition: 0.3s;
}
ul li a:hover {
  border-top-color: #cc7410;
  border-bottom-color: #cc7410;
  color: #cc7410;
}
.section {
  background-color: #b4b4b4;
}
.section-container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subtitle {
  letter-spacing: 2px;
  color: whitesmoke;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.title span {
  font-weight: 700;
}
.description {
  line-height: 1.5rem;
  color: #303030;
  margin-bottom: 2rem;
}
.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: rgb(22, 22, 22);
  margin-bottom: 1rem;
}
.image {
  display: grid;
  place-items: center;
  img {
    width: min(25rem, 90%);
    border-radius: 100%;
  }
}
.action-btns {
  display: flex;
  gap: 1rem;
}
.action-btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid rgb(142, 3, 177);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.hire-me {
  background-color: rgb(142, 3, 177);
  color: white;
  position: relative;
  z-index: 0;
  span {
    position: absolute;
    width: 400px;
    background-color: #171e5a;
    padding: 1rem 2rem;
    top: 100px;
    right: -150px;
    transition: all 0.2s;
  }
}
.hire-me:hover {
  background-color: rgb(95, 0, 119);
  color: white;
}
.portfolio {
  color: rgb(142, 3, 177);
}
.portfolio:hover {
  color: white;
  background-color: rgb(95, 0, 119);
}

/* skills section */

.skills-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 1rem;
}
.skills-container h2 {
  font-size: 2rem;
  font-weight: 800;
}
.skills-container p {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 500;
}
.skills-container .skills {
  width: 100%;
  padding: 2rem 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.skills-container .skills .skill {
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  img {
    width: 50%;
    transition: transform 0.1s ease-in;
  }
  span {
    transform: translateX(20px);
    padding: 3rem 0 0 1rem;
    transition: transform 0.2s ease-in;
  }
}
.skills-container .skills .skill:hover img {
  transform: scale(1.1);
}
.skills-container .skills .skill:hover span {
  transform: translateX(0px);
}

.sec2 {
  height: 400px;
}

@media (width < 750px) {
    nav{
        z-index: 99;
    }
  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: #b4b4b4;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
  nav #check:checked ~ ul {
    left: 0;
  }
  ul li a {
    font-size: 1.25rem;
  }
  .section-container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .image {
    grid-area: 1/1/2/2;
  }
  .action-btns {
    margin: auto;
  }
  .skills-container .skills .skill {
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
      transition: transform 0.5s;
    }
    span {
      text-align: center;
      font-weight: 600;
      padding: 1rem 0 0 0;
      transform: translateY(200px);
      transition: transform 0.5s;
    }
  }

  .skills-container .skills .skill:hover {
    border: 1px solid #b1b1b1;
    padding: .5rem;
    
}
  .skills-container .skills .skill:hover span {
    transform: translateY(0px);
    text-align: center;
  }
}

@keyframes tilt {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
