@import "tailwindcss";

html,body{
  scroll-behavior: smooth;
}
.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.reveal.show {
  opacity: 1;
  transform: translateY(0);
}
.expand-wrapper {
  height: auto;
  position: relative;
}

.child-ul {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.project-li:hover .child-ul {
  max-height: 800px; /* only inner content grows */
}
.child-li img{
  height: 200px;
  transition: all .3s ease;
}