@import "tailwindcss";

html,body{
  scroll-behavior: smooth;
}
.reveal {
  opacity: 0;
  transform: translateY(20px), scale(0);
  transition: all 0.6s ease;
}
.reveal.show {
  opacity: 1;
  transform: translateY(0), scale(1);
}
.expand-wrapper {
  height: auto;
  position: relative;
}

.child-ul {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.project-li:hover .child-ul {
  max-height: 800px; /* only inner content grows */
}
.child-li img{
  height: 200px;
  transition: all .3s ease;
}
.before_online_ping{
  @apply hover:before:absolute before:-top-3 before:-right-3 before:animate-ping before:w-3 before:h-3 before:bg-green-600 before:rounded-full;
}